<main role="main" class="inner cover">
    <div class="text-center pt-3">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <form class="form-signin" action="/log-in" method="post">
                <img class="mb-4"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Creative-Tail-Animal-dog.svg/1024px-Creative-Tail-Animal-dog.svg.png"
                    alt="" width="172" height="172">
                <h1 class="h3 mb-3 font-weight-normal">Log in!</h1>
                <input type="email" name="email" class="form-control" placeholder="Email address" required=""
                    autofocus="">
                <input type="password" name="password" class="form-control" placeholder="Password" required="">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                <!-- Register buttons -->
                <p class="mt-5 mb-3 text-muted">Not a member? <a href="/sign-up">Sign up</a></p>
                {{#if errorMessage}}
                <p>{{errorMessage}}</p>
                {{/if}}
                <p class="mt-5 mb-3 text-muted"><a href="/">Back</a></p>
            </form>
        </div>
    </div>
</main>
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>
        <footer>&copy; Copyright 2022 HTML.am</footer>
        </p>
    </div>
</footer>