<h1>Bienvenido a MeetDog... ¡Haz Log in!</h1>

<form action="/log-in" method="post">
    <label>Email
        <input type="email" name="email" placeholder="email" id="email">
    </label>
    <Label>Password
        <input type="password" name="password" placeholder="password" id="password">
    </Label>
    <button type="submit">Log in</button>
</form>