<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link " href="/mydogs">My dogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile-newdog">Create a new dog</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" href="/mymeetings">My meetings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile-newmeeting">Create new meeting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/log-out">Log-out</a>
            </li>
        </ul>
    </div>
</nav>
<main role="main" class="inner cover">
    <div class="text-center pt-3">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <h2>My Meetings</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Date</th>
                        <th scope="col">Hour</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each foundMeetings}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.location}}</td>
                        <td>{{this.date}}</td>
                        <td>{{this.hour}}</td>
                        <td>
                            <form action="/allmeetings" method="get">
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</main>
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>
        <footer>&copy; Copyright 2022 HTML.am</footer>
        </p>
    </div>
</footer>