<h1>New Dog</h1>

<form action="/profile-newdog" method="post">

    <label>Name <br>
        <input type="name" name="name" placeholder="name" id="name">
    </label>

    <Label>Sex <br>
        <input type="sex" name="sex" placeholder="sex" id="sex">
    </Label>

    <Label>Race <br>
        <input type="race" name="race" placeholder="race" id="race">
    </Label>

    <Label>Size <br>
        <input type="size" name="size" placeholder="size" id="size">
    </Label> <br>

    <Label>Age <br>
        <input type="age" name="age" placeholder="age" id="age">
    </Label> <br>


    <button type="submit">Add dog</button>

</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}

<a href="/">back</a>