<form action="/profile-mydog" method="get">
    <h1>My Dogs</h1>

    {{#each foundDogs}}
    <p>{{this.name}}</p>
    <button>
        <a href="/profile-mydog/{{id}}/edit">Edit</a>
    </button>
    {{/each}}

    <a href="/profile">Back</a>

</form>