<h1>New Dog</h1>

<form action="/profile-newdog" method="post">

        <label>Name <br>
            <input type="text" name="name" placeholder="name" id="name">
        </label>

        <Label>Sex <br>
            <input type="text" name="sex" placeholder="sex" id="sex">
        </Label>

        <Label>Race <br>
            <input type="text" name="race" placeholder="race" id="race">
        </Label>

        <Label>Size <br>
            <input type="text" name="size" placeholder="size" id="size">
        </Label> <br>

        <Label>Age <br>
            <input type="number" name="age" placeholder="age" id="age">
        </Label> <br>


        <button type="submit">Add dog</button>

</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}

<a href="/">back</a>