<nav class="navbar navbar-expand-lg navbar-dark bg-dark size">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link login" href="/log-in">Log in</a>
        </li>
        <li class="nav-item">
            <a class="nav-link signup" href="/sign-up">Sign up</a>
        </li>
    </ul>
    <img class="img-home"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Creative-Tail-Animal-dog.svg/1024px-Creative-Tail-Animal-dog.svg.png"
        alt="" width="40px">
    </div>
</nav>
<div class=" text-center pt-3 home">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 img-circle"
                        src="https://cdn.pixabay.com/photo/2016/01/25/10/45/girl-1160441__480.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 img-circle"
                        src="https://cdn.pixabay.com/photo/2015/08/14/13/10/woman-888409__480.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 img-circle" src="https://cdn.pixabay.com/photo/2018/03/15/01/47/dog-3226922__480.jpg"
                        alt="Third slide">
                </div>
            </div>
        </div>
        <br>
        <h1 class="cover-heading">MeetDogs</h1>
        <br>
        <p class="lead">It is an application that allows you to meet people who have dogs in your area and connect
            with them
            to make group
            outing</p>
       <br>
        <p class="lead">
            <a href="/allmeetings" class="btn btn-lg btn-primary">Find your meeting</a>
        </p>
    </div>
</div>
</main>