.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

.allmeetings {
  border: 10px solid red;
  border-color: red;
  border-width: 5px;
  height: 45%;
  background-color: grey;
  margin-top: 10px;
  border-radius: 40px;
  border-bottom-right-radius: 040px;
  display: flex;
  flex-direction: column;
}

.nav-profile {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 90px;
  bottom: 75px;
}
