.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

.profile {
  background-color: rgb(37, 42, 63);
}

.home {
  background-color: rgb(37, 42, 63);
  color: white;
}

.bg-dogs {
  background-color: rgb(37, 42, 63);
}

.login {
  position: relative;
  left: 230px;
  bottom: 6px;
  font-size: 25px;
}

.signup {
  position: relative;
  left: 320px;
  bottom: 60px;
  font-size: 25px;
}

.size {
  height: 10%;
}

.img-home {
  position: relative;
  right: 320px;
  bottom: 20px;
}

/* ///// */

.card-dog {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 17%;
  margin-bottom: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-dog {
  padding: 2px 16px;
  position: relative;
  left: 200px;
  bottom: 140px;
}

.quote {
  font-size: 10px;
}

.dog-tools {
  position: relative;
  top: 10px;
}

.meeting-tools {
  position: relative;
  top: 55px;
  left: 230px;
}

.meeting-size {
  font-size: 15px;
  margin-top: 5px;
}

.card-meeting {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 35%;
  background-image: url(https://besthqwallpapers.com/Uploads/28-9-2018/66988/thumb2-golden-retriever-labrador-brown-dog-gray-background-pets.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

.btn-enter {
  border-radius: 110px;
  border: 20px blue;
  font-size: large;
}

/* .card-meetings {
  background-color: rgb(98, 128, 163);
  width: 70%;
  margin-right: 30%;
} */

.sign-btn-home {
  position: relative;
  top: 20;
}

.bg-meeting {
  background-image: url(https://t1.uc.ltmcdn.com/images/8/1/0/img_como_organizar_una_excursion_a_la_montana_20018_600.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  opacity: 90%;
}

.img-circle {
  border-radius: 50%;
}

.card {
  border: 5px solid red;
}
